body{
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.main-container{
    width: 800px;
    height: 800px;
    background-color: gray;
    border-radius: 20px;
    border-color: black;
    border: solid;
    position: relative;
}

.level-container{
    width: 200px;
    height: 25px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.new-game-btn{
    width: 162px;
    height: 20px;
    margin: 25px;
    margin-left: 32px;
}

.rounds{
    width: 162px;
    height: 20px;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    margin: 25px;
    color: aliceblue;
}

.repeat-btn{
    width: 162px;
    height: 20px;
    margin: 25px;
    margin-left: 32px;
    position: absolute;
    right: 0;
}

.display{
    width: 500px;
    height: 100px;
    font-size: 60px;
    color: aqua;
    text-align: center;
    margin: auto;
    margin-top: 70px;
}
.numbers{
    margin: auto;
    margin-top: 20px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.key{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.letters{
    margin: auto;
    margin-top: 8px;
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.start{
    width: 400px;
    height: 100px;
    margin-top: 40px;
    font-size: 40px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    background-color: green;
    color: white;
}

.none{
    display: none;
}

.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

.popup-message{
    position: relative;
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    min-width: 300px;
    min-height: 40px;
}

.popuip-btn{
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
}