@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

--main-color {
    color: #FF4646;
}

:root {
    color: var(--main-color)
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    width: 1440px;
}

/* HEADER CLASSES START */
.header {
    width: 1440px;
    height: 64px;
}

.header-wrapper {
    max-width: 1276px;
    height: 64px;
    display: flex;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    padding: 8px 20px;
    width: 141px;
    height: 40px;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.snowflake {
    text-decoration: none;
    width: 24px;
    height: 24px;
}

.snowflake-text {
    text-decoration: none;
}

.header-logo-text {
    text-align: left;
    color: #181C29;
    margin: 0;
    word-break: break-word;
}

.header-logo-text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

nav {
    padding: 12px 0px;
    width: 1123px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
}

.nav-gifts {
    width: 78px;
    height: 40px;
    text-align: center;
}

.nav-about {
    width: 88px;
    height: 40px;
    text-align: center;
}

.nav-best {
    text-align: center;
    width: 74px;
    height: 40px;
}

.nav-contacts {
    width: 112px;
    height: 40px;
    text-align: center;
}

/* HEADER CLASSES END */

/* HERO SECTION CLASSES START */
.hero-section {
    border-radius: 20px 20px 0 0;
    width: 1440px;
    height: 524px;
    background-color: #FF4646;
    background-image: url("/christmas-shop/img/bg-snow.png"), url("/christmas-shop/img/bg-ball.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero-section-div {
    padding: 60px 0px;
    width: 426px;
    height: 404px;
    max-width: 426px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 507px;
    flex-direction: column;
    gap: 12px;
    flex-wrap: nowrap;
}

.first-action {
    font-family: "Allura";
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: white;
    text-align: center;
    margin: 0 5px;
    padding: auto;
}

.h1-action {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: white;
    text-align: center;
    white-space: nowrap;
}

.action-button {
    border-radius: 20px;
    padding: 20px 32px;
    width: 235px;
    height: 56px;
    background-color: #181C29;
    color: white;
    border: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 0 5px;
}

/* HERO SECTION CLASSES END */

/* ABOUT SECTION CLASSES START */
.about-section {
    width: 1440px;
    height: 648px;
    background-color: #FF4646;
    background-image: url(/christmas-shop/img/bg-snow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.about-section-div {
    border-radius: 20px;
    width: 1276px;
    height: 528px;
    max-width: 1276px;
    background-color: white;
    display: flex;
}

.left-container {
    width: 638px;
    height: 528px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 0 0 0 60px;
}

.image-container {
    border-radius: 20px;
    width: 638px;
    height: 528px;
    background-image: url(/christmas-shop/img/santa.svg);
}

.left-container-div {
    padding: 60px 0;
    width: 426px;
    height: 328px;
    max-width: 426px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.about-section-small-p {
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #FF4646;
    margin: 0;
}

.about-section-h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #181C29;
    margin: 0;
}

.about-section-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
    margin: 0;
}

/* ABOUT SECTION CLASSES END */

/* SLIDER SECTION CLASSES START */
.slider-section {
    width: 1440px;
    height: 488px;
    background-color: #FF4646;
    background-image: url(/christmas-shop/img/bg-snow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    padding: 60px 82px;

}

.slider-section-div {
    width: 1276px;
    height: 368px;
    max-width: 1276px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.slider-text {
    width: 426px;
    height: 72px;
    max-width: 426px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    gap: 12px;

}

.slider-p {
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin: 0;
}

.slider-text-h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    margin: 0;
    color: #ffffff;
}

.slider {
    width: 1993px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.slider-h2 {
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

.slider-img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.snowman {
    background-image: url(/christmas-shop/img/snowman.png);
    background-size: cover;
}

.presents {
    background-image: url(/christmas-shop/img/christmas-trees.png);
    background-size: cover;
}

.christmas-ball {
    background-image: url(/christmas-shop/img/christmas-tree-ball.png);
    background-size: cover;
}

.house {
    background-image: url(/christmas-shop/img/fairytale-house.png);
    background-size: cover;
}

.slider-buttons {
    width: 1276px;
    height: 56px;
    justify-self: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 20px;
}

.slider-button {
    width: 56px;
    height: 56px;
    border-radius: 20px;
}

.left-button {
    background-image: url(/christmas-shop/img/LeftButton.svg);
    background-size: cover;
}

.right-button {
    background-image: url(/christmas-shop/img/RightButton.svg);
    background-size: cover;
}

/* SLIDER SECTION CLASSES END */

/* BEST GIFTS SECTION CLASSES START */
.best-gifts-section {
    width: 1440px;
    height: 554px;
    background-color: #FF4646;
    background-image: url(/christmas-shop/img/bg-snow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.best-gifts-div {
    width: 1276px;
    height: 434px;
    max-width: 1276px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.gifts-caption-div {
    width: 426px;
    height: 72px;
    max-width: 426px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.best-gifts-caption {
    font-family: Allura;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
    margin: 0;
}

.best-gifts-h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

.cards-container {
    width: 1276px;
    height: 342px;
    display: flex;
    gap: 12px;
}

.card {
    border-radius: 20px;
    width: 310px;
    height: 342px;
    display: flex;
    flex-direction: column;
    background-color: #ECF3F8;

}

.for-work-img {
    width: 310px;
    height: 230px;
    background-image: url(/christmas-shop/img/gift-for-work.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-header-container {
    border-radius: 20px;
    width: 310px;
    height: 112px;
    background-color: #ffffff;
}

.for-work-h4 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #4361FF;
    padding: 20px 244px 8px 20px;
    margin: 0;
    white-space: nowrap;
}

.card-h3 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin: 0;
    padding: 0 20px 44px 20px;
}

.for-health-img {
    width: 310px;
    height: 230px;
    background-image: url(/christmas-shop/img/gift-for-health.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.for-health-h4 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #06A44F;
    padding: 20px 244px 8px 20px;
    margin: 0;
    white-space: nowrap;
}

.for-harmony-img {
    width: 310px;
    height: 230px;
    background-image: url(/christmas-shop/img/gift-for-harmony.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.for-harmony-h4 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FF43F7;
    padding: 20px 244px 8px 20px;
    margin: 0;
    white-space: nowrap;
}

/* BEST GIFTS SECTION CLASSES END */

/* CTA SECTION CLASSES START */
.cta-section {
    border-radius: 0 0 20px 20px;
    width: 1440px;
    height: 668px;
    background-color: #FF4646;
    background-image: url("/christmas-shop/img/bg-forest.png"), url("/christmas-shop/img/bg-snow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-section-div {
    padding: 60px 0px;
    width: 426px;
    height: 428px;
    max-width: 426px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.cta-h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin: 0;
}

.timer-div {
    width: 426px;
    height: 104px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.timer-caption {
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin: 0;
}

.timer {
    border-radius: 20px;
    width: 344px;
    height: 72px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 12px 12px 12px;
}

.timer-h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    text-align: center;
}

.timer-h4 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    text-align: center;
}

.days {
    width: 80px;
    height: 52px;
    margin: 0;
}

hr {
    width: 1px;
    height: 20px;
    color: #ffffff;
}

/* CTA SECTION CLASSES END */

/* FOOTER CLASSES START */
.footer {
    width: 1440px;
    height: 496px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div {
    width: 1276px;
    height: 376px;
    max-width: 1276px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.footer-cards {
    width: 1276px;
    height: 204px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-direction: row;
}

.footer-card {
    border-radius: 20px;
    width: 417px;
    height: 204px;
    background-color: #ECF3F8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-direction: column;
}

.footer-action {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #181C29;
    text-decoration: none;
    margin: 0;
}

.footer-h3 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #181C29;
    margin: 0;
}

.contacts {
    width: 1276px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-direction: column;
}

.socials {
    width: 196px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 0;
}

.one-social {
    width: 40px;
    height: 40px;
    padding: 8px;
}

.rights {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
    color: #181C29;
    margin: 0;
}

.made-in {
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #181C29;
    margin: 0;
}

/* FOOTER CLASSES END */

/*GIFTS PAGE CLASSES START*/
.nav-gifts-gifts{
    width: 78px;
    height: 40px;
    text-align: center;
    border-radius: 12px;
    background-color: rgba(255, 70, 70, 0.1);
    color: #FF4646;
}

.gifts-section {
    width: 1440px;
    height: 1394px;
    border-radius: 20px;
    background-color: #FF4646;
    background-image: url(/christmas-shop/img/bg-garland.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gifts-div {
    width: 1276px;
    height: 1274px;
    max-width: 1276px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.gifts-page-caption {
    width: 426px;
    height: 144px;
    max-width: 426px;
}

.gifts-page-h1 {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.gifts-page-tabs {
    width: 474px;
    height: 40px;
    display: flex;
    gap: 8px;
}

.all-tab {
    border-radius: 12px;
    width: 65px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
}

.for-work-tab {
    border-radius: 12px;
    width: 116px;
    height: 40px;
}

.for-health-tab {
    border-radius: 12px;
    width: 126px;
    height: 40px;
}

.for-harmony-tab {
    border-radius: 12px;
    width: 143px;
    height: 40px;
}

.tab-action {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.gifts-page-container {
    width: 1276px;
    height: 1050px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}